@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display:swap;);
:root {
  --primary: #28489A;
  --black: #2B2B2B;
  --white: #FCFCFC
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 430px
}
body {
  color: #2b2b2b;
  line-height: 1;
  font-family: Inter;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}
::after,
::before {
  --tw-content: ''
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}
body {
  margin: 0;
  line-height: inherit
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}
a {
  color: inherit;
  text-decoration: inherit
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}
button,
select {
  text-transform: none
}
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}
:-moz-focusring {
  outline: auto
}
:-moz-ui-invalid {
  box-shadow: none
}
progress {
  vertical-align: baseline
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
summary {
  display: list-item
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}
fieldset {
  margin: 0;
  padding: 0
}
legend {
  padding: 0
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}
dialog {
  padding: 0
}
textarea {
  resize: vertical
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}
[role="button"],
button {
  cursor: pointer
}
:disabled {
  cursor: default
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}
img,
video {
  max-width: 100%;
  height: auto
}
[hidden] {
  display: none
}
*,
::after,
::before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
::-ms-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
.visible {
  visibility: visible
}
.static {
  position: static
}
.fixed {
  position: fixed
}
.absolute {
  position: absolute
}
.relative {
  position: relative
}
.col-span-4 {
  grid-column: span 4/span 4
}
.col-span-7 {
  grid-column: span 7/span 7
}
.col-span-8 {
  grid-column: span 8/span 8
}
.col-start-5 {
  grid-column-start: 5
}
.mb-4 {
  margin-bottom: 1rem
}
.mb-5 {
  margin-bottom: 1.25rem
}
.block {
  display: block
}
.flex {
  display: flex
}
.grid {
  display: grid
}
.hidden {
  display: none
}
.w-full {
  width: 100%
}
.transform {
  -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.resize {
  resize: both
}
.grid-cols-12 {
  grid-template-columns: repeat(12,minmax(0,1fr))
}
.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr))
}
.items-center {
  align-items: center
}
.justify-between {
  justify-content: space-between
}
.gap-2 {
  gap: .5rem
}
.gap-5 {
  gap: 1.25rem
}
.border {
  border-width: 1px
}
.font-medium {
  font-weight: 500
}
.underline {
  text-decoration-line: underline
}
.outline {
  outline-style: solid
}
.blur {
  --tw-blur: blur(8px);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.transition {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
body,
html {
  background-color: var(--white)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 109.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.form__row:last-child {
  margin-bottom: 0
}
.form__privacy {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: .375rem
}
.form__privacy p {
  max-width: 31.25rem
}
.form__privacy a {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
  padding-bottom: 1px;
  margin-bottom: -1px
}
.form__privacy a:hover {
  border-bottom-color: transparent
}
.form__label {
  color: #2b2b2b;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 4px
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  width: 100%;
  display: block;
  padding: .625rem .875rem;
  caret-color: inherit;
  min-height: 3.25rem;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  line-height: 130%;
  border-radius: 3px;
  outline: 0;
  font-weight: 400
}
.input::-webkit-input-placeholder {
  color: #b9b9b9
}
.input:-ms-input-placeholder {
  color: #b9b9b9
}
.input::-ms-input-placeholder {
  color: #b9b9b9
}
.input::placeholder {
  color: #b9b9b9
}
.input:focus {
  border-color: var(--primary)
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: vertical;
  min-height: 10.3125rem
}
.checkbox {
  position: relative;
  margin-bottom: .375rem
}
.checkbox:last-child {
  margin-bottom: 0
}
.checkbox:not(:last-child) {
  margin-bottom: em(5)
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox__input:hover + .checkbox__label:before {
  background: rgba(40,72,154,.2)
}
.checkbox__input:focus-visible + .checkbox__label:before {
  box-shadow: 0 0 5px #000
}
.checkbox__input:checked + .checkbox__label:before {
  border-color: var(--primary);
  background: rgba(40,72,154,.2)
}
.checkbox__input:checked + .checkbox__label:after {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  gap: .5rem
}
.checkbox__label:before {
  content: "";
  align-self: center;
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  transition: all .3s;
  border: 1px solid #d0d5dd
}
.checkbox__label::after {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  min-width: 12px;
  position: absolute;
  top: 8px;
  left: 3px;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .3s;
  background: url(../img/icons/language-checked.svg) 0 0/contain no-repeat
}
.checkbox__text {
  align-self: center;
  font-weight: 500
}
.icon-menu {
  display: none
}
.spollers {
  counter-reset: services
}
.spollers__item:last-child {
  border-bottom: 1px solid #b9b9b9
}
.spollers__item-num::before {
  content: "";
  counter-increment: services;
  content: "0" counter(services)
}
.spollers__item-title {
  line-height: 120%
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none;
  border-top: 1px solid #b9b9b9;
  transition: all .3s
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  transition: all .3s;
  background: url(../img/icons/spollers-arrow.svg) center center no-repeat
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button.button-lg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  min-width: 15.625rem
}
.button.button-blue--border {
  border: 2px solid #28489a;
  transition: all .3s;
  color: var(--primary);
  line-height: 140%;
  text-transform: uppercase
}
.button.button-blue--border:hover {
  color: #fff
}
.button.button-blue--border:active span {
  background-color: #213b7e
}
.button.button-blue--border p {
  position: relative
}
.button.button-blue {
  transition: all .3s;
  color: var(--primary);
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--primary)
}
.button.button-blue:hover {
  background-color: #213b7e
}
.button.button-blue:active {
  background-color: #1d3572
}
.button.button-white {
  transition: all .3s;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--primary);
  background-color: #fff
}
.button.button-white:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px)
}
.language-block {
  position: relative;
  z-index: 2;
  width: -webkit-max-content;
  width: max-content
}
.language-block__button {
  min-height: 3.75rem;
  padding: .5rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  border: 2px solid transparent;
  transition: all .3s
}
.language-block__button::after {
  content: "";
  width: 1.0625rem;
  height: 1.0625rem;
  display: block;
  transition: all .3s;
  background: url(../img/icons/arrow-language.svg) 0 0/100% 100% no-repeat
}
.open .language-block__button::after {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg)
}
.language-block__button:hover {
  border-color: #d9d9d9;
  background-color: #fff
}
.language-block__list {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  left: 0;
  transition: all .3s;
  right: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
  background-color: #fcfcfc
}
.open .language-block__list {
  top: calc(100% + 10px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto
}
.language-block__list ul li {
  width: 100%;
  display: flex
}
.language-block__list ul li.checked a {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1.25rem
}
.language-block__list ul li.checked a::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icons/language-checked.svg) 0 0 no-repeat
}
.language-block__list ul li a {
  padding: .625rem;
  width: 100%;
  transition: background-color .3s
}
.language-block__list ul li a:active {
  background-color: rgba(40,72,154,.4)
}
[data-ripple] {
  --width: 100%;
  --time: 0.7s;
  position: relative;
  display: inline-block;
  overflow: hidden
}
[data-ripple] text {
  position: relative;
  z-index: 5;
  transition: color var(--time)
}
[data-ripple] span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;
  border-radius: 100%;
  background: var(--primary);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  transition: width var(--time),padding-top var(--time),background-color var(--time)
}
[data-ripple]:hover span {
  width: calc(var(--width) * 2.25);
  padding-top: calc(var(--width) * 2.25)
}
.h1,
h1 {
  font-weight: 300;
  line-height: 1.2
}
.h2,
h2 {
  font-weight: 500;
  line-height: 1.2
}
.main-text {
  color: var(--black);
  line-height: 150%;
  font-weight: 400
}
sup {
  top: -.25rem!important;
  left: -2px
}
.subheading {
  line-height: 130%;
  color: var(--black)
}
.section-subtext {
  line-height: 150%;
  font-weight: 500
}
.section-title span {
  color: var(--primary)
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem
}
.header__left {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.header__right {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end
}
.header__menu ul {
  display: inline-flex;
  align-items: center;
  gap: .75rem 2.75rem
}
.header__menu ul li a {
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
  transition: all .3s;
  position: relative
}
.header__menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  background-color: var(--primary);
  height: .0625rem;
  transition: all .3s
}
.footer__top {
  background-color: var(--primary)
}
.footer__top .top-footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.footer__bottom .bottom-footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.footer__bottom .bottom-footer__copyright {
  color: var(--primary);
  font-weight: 500;
  line-height: 130%
}
.footer__menu ul {
  display: flex;
  align-items: center
}
.footer__menu ul a {
  color: var(--primary);
  transition: all .3s;
  position: relative
}
.footer__menu ul a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  background-color: var(--primary);
  height: .0625rem;
  transition: all .3s
}
.footer__menu ul a:hover {
  color: var(--primary)
}
.footer__menu ul a:hover::before {
  width: 100%
}
.hero__header span {
  display: flex;
  justify-content: flex-end;
  align-items: center
}
.hero__header span svg {
  max-width: 30rem
}
.hero__body {
  display: flex;
  align-items: center;
  gap: 1.5rem 3.75rem
}
.hero__image {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__desc {
  align-items: center;
  max-width: 33.4375rem
}
.hero__title {
  max-width: 71.875rem
}
.hero__title strong {
  font-weight: 700;
  color: var(--primary)
}
.about__image img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about__info .info-block__column .column__header {
  border-bottom: 1px solid #d9d9d9;
  color: var(--primary)
}
.about__info .info-block__column .column__header span {
  line-height: 110%;
  font-weight: 500
}
.about__info .info-block__column .column__header p {
  line-height: 140%;
  font-weight: 500
}
@media (min-width:29.99875em) {
  .spollers__item-title {
    font-weight: 500
  }
}
@media (min-width:47.99875em) {
  .form__row {
    margin-bottom: 1.5rem
  }
  .spollers__title {
    padding: 2rem 0
  }
  ._spoller-init .spollers__title::before {
    min-width: 3rem;
    width: 3rem;
    height: 3rem
  }
  .button.button-lg {
    min-height: 3.75rem;
    padding: .625rem 4.125rem
  }
}
@media (min-width:109.375em) {
  .form__privacy {
    font-size: 1rem
  }
  .form__label {
    font-size: .875rem
  }
  .input {
    font-size: 1.125rem
  }
  .input {
    font-size: 1.125rem
  }
  .checkbox__text {
    font-size: 1rem
  }
  .spollers__item-title {
    font-size: 1.5rem
  }
  .spollers__body {
    padding-bottom: 2rem
  }
  .button.button-blue--border {
    font-size: 1.25rem
  }
  .button.button-blue {
    font-size: 1.25rem
  }
  .button.button-white {
    font-size: 1.25rem
  }
  .h1,
  h1 {
    font-size: 3.25rem
  }
  .h2,
  h2 {
    font-size: 3rem
  }
  .main-text {
    font-size: 1.125rem
  }
  .section-margin-bottom {
    margin-bottom: 7.5rem
  }
  .subheading {
    font-size: 1.125rem
  }
  .section-subtext {
    font-size: 1.25rem
  }
  .header {
    padding-top: 2.5rem
  }
  .header {
    padding-bottom: 3.75rem
  }
  .footer__top {
    padding-top: 4rem
  }
  .footer__top {
    padding-bottom: 4rem
  }
  .footer__bottom {
    padding-bottom: 2rem
  }
  .footer__bottom {
    padding-top: 2rem
  }
  .footer__bottom .bottom-footer__copyright {
    font-size: 1.125rem
  }
  .footer__menu ul {
    gap: 3.75rem
  }
  .footer__menu ul a {
    font-size: 1.125rem
  }
  .hero__header {
    margin-bottom: 3rem
  }
  .hero__header span {
    margin-bottom: 3.75rem
  }
  .hero__image {
    height: 26.875rem
  }
  .services__header {
    margin-bottom: 4rem
  }
  .about__header {
    margin-bottom: 4rem
  }
  .about__image img {
    height: 28.4375rem
  }
  .about__info .info-block__column .column__header {
    padding-bottom: 1.75rem
  }
  .about__info .info-block__column .column__header {
    margin-bottom: 1.75rem
  }
  .about__info .info-block__column .column__header span {
    font-size: 3.75rem
  }
  .about__info .info-block__column .column__header p {
    font-size: 1rem
  }
  .contact__header {
    margin-bottom: 4rem
  }
}
@media (min-width:768px) {
  .md\:mb-2 {
    margin-bottom: .5rem
  }
  .md\:gap-14 {
    gap: 3.5rem
  }
}
@media (min-width:1200px) {
  .header__left {
    flex: 0 1 32rem
  }
}
@media (max-width:47.99875em) {
  .form__row {
    margin-bottom: 1rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  ._spoller-init .spollers__title::before {
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem
  }
  .button.button-lg {
    min-height: 2.375rem;
    padding: .625rem 1.25rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .spollers__item-title {
    font-weight: 600
  }
}
@media (max-width:26.875em) {
  .form__privacy {
    font-size: .625rem
  }
  .form__label {
    font-size: .75rem
  }
  .input {
    font-size: 1rem
  }
  .input {
    font-size: 1rem
  }
  .checkbox__text {
    font-size: .625rem
  }
  .spollers__item-title {
    font-size: .75rem
  }
  .spollers__body {
    padding-bottom: .75rem
  }
  .button.button-blue--border {
    font-size: .875rem
  }
  .button.button-blue {
    font-size: .875rem
  }
  .button.button-white {
    font-size: .875rem
  }
  .h1,
  h1 {
    font-size: 1.125rem
  }
  .h2,
  h2 {
    font-size: .9375rem
  }
  .main-text {
    font-size: .625rem
  }
  .section-margin-bottom {
    margin-bottom: 3.75rem
  }
  .subheading {
    font-size: .75rem
  }
  .section-subtext {
    font-size: .75rem
  }
  .header {
    padding-top: 1.25rem
  }
  .header {
    padding-bottom: 2rem
  }
  .footer__top {
    padding-top: 2rem
  }
  .footer__top {
    padding-bottom: 2rem
  }
  .footer__bottom {
    padding-bottom: 1rem
  }
  .footer__bottom {
    padding-top: 1rem
  }
  .footer__bottom .bottom-footer__copyright {
    font-size: .625rem
  }
  .footer__menu ul {
    gap: 1.5rem
  }
  .footer__menu ul a {
    font-size: .625rem
  }
  .hero__header {
    margin-bottom: 2rem
  }
  .hero__header span {
    margin-bottom: 1.125rem
  }
  .hero__image {
    height: 9.375rem
  }
  .services__header {
    margin-bottom: 2rem
  }
  .about__header {
    margin-bottom: 2rem
  }
  .about__image img {
    height: 6.5625rem
  }
  .about__info .info-block__column .column__header {
    padding-bottom: .5rem
  }
  .about__info .info-block__column .column__header {
    margin-bottom: .5rem
  }
  .about__info .info-block__column .column__header span {
    font-size: 1rem
  }
  .about__info .info-block__column .column__header p {
    font-size: .75rem
  }
  .contact__header {
    margin-bottom: 2rem
  }
}
@media (min-width:26.875em) and (max-width:109.375em) {
  @supports (font-size:clamp(0.625rem ,0.5028409091rem + 0.4545454545vw ,1rem)) {
    .form__privacy {
      font-size: clamp(.625rem ,.5028409091rem + .4545454545vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.625rem ,0.5028409091rem + 0.4545454545vw ,1rem)) {
    .form__privacy {
      font-size: calc(.625rem + .375 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.709280303rem + 0.1515151515vw ,0.875rem)) {
    .form__label {
      font-size: clamp(.75rem ,.709280303rem + .1515151515vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.709280303rem + 0.1515151515vw ,0.875rem)) {
    .form__label {
      font-size: calc(.75rem + .125 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(1rem ,0.959280303rem + 0.1515151515vw ,1.125rem)) {
    .input {
      font-size: clamp(1rem ,.959280303rem + .1515151515vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.959280303rem + 0.1515151515vw ,1.125rem)) {
    .input {
      font-size: calc(1rem + .125 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(1rem ,0.959280303rem + 0.1515151515vw ,1.125rem)) {
    .input {
      font-size: clamp(1rem ,.959280303rem + .1515151515vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.959280303rem + 0.1515151515vw ,1.125rem)) {
    .input {
      font-size: calc(1rem + .125 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.625rem ,0.5028409091rem + 0.4545454545vw ,1rem)) {
    .checkbox__text {
      font-size: clamp(.625rem ,.5028409091rem + .4545454545vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.625rem ,0.5028409091rem + 0.4545454545vw ,1rem)) {
    .checkbox__text {
      font-size: calc(.625rem + .375 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.5056818182rem + 0.9090909091vw ,1.5rem)) {
    .spollers__item-title {
      font-size: clamp(.75rem ,.5056818182rem + .9090909091vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.5056818182rem + 0.9090909091vw ,1.5rem)) {
    .spollers__item-title {
      font-size: calc(.75rem + .75 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (padding-bottom:clamp(0.75rem ,0.3428030303rem + 1.5151515152vw ,2rem)) {
    .spollers__body {
      padding-bottom: clamp(.75rem ,.3428030303rem + 1.5151515152vw ,2rem)
    }
  }
  @supports not (padding-bottom:clamp(0.75rem ,0.3428030303rem + 1.5151515152vw ,2rem)) {
    .spollers__body {
      padding-bottom: calc(.75rem + 1.25 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7528409091rem + 0.4545454545vw ,1.25rem)) {
    .button.button-blue--border {
      font-size: clamp(.875rem ,.7528409091rem + .4545454545vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7528409091rem + 0.4545454545vw ,1.25rem)) {
    .button.button-blue--border {
      font-size: calc(.875rem + .375 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7528409091rem + 0.4545454545vw ,1.25rem)) {
    .button.button-blue {
      font-size: clamp(.875rem ,.7528409091rem + .4545454545vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7528409091rem + 0.4545454545vw ,1.25rem)) {
    .button.button-blue {
      font-size: calc(.875rem + .375 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7528409091rem + 0.4545454545vw ,1.25rem)) {
    .button.button-white {
      font-size: clamp(.875rem ,.7528409091rem + .4545454545vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7528409091rem + 0.4545454545vw ,1.25rem)) {
    .button.button-white {
      font-size: calc(.875rem + .375 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.4327651515rem + 2.5757575758vw ,3.25rem)) {
    .h1,
    h1 {
      font-size: clamp(1.125rem ,.4327651515rem + 2.5757575758vw ,3.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.4327651515rem + 2.5757575758vw ,3.25rem)) {
    .h1,
    h1 {
      font-size: calc(1.125rem + 2.125 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.9375rem ,0.265625rem + 2.5vw ,3rem)) {
    .h2,
    h2 {
      font-size: clamp(.9375rem ,.265625rem + 2.5vw ,3rem)
    }
  }
  @supports not (font-size:clamp(0.9375rem ,0.265625rem + 2.5vw ,3rem)) {
    .h2,
    h2 {
      font-size: calc(.9375rem + 2.0625 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.625rem ,0.4621212121rem + 0.6060606061vw ,1.125rem)) {
    .main-text {
      font-size: clamp(.625rem ,.4621212121rem + .6060606061vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.625rem ,0.4621212121rem + 0.6060606061vw ,1.125rem)) {
    .main-text {
      font-size: calc(.625rem + .5 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (margin-bottom:clamp(3.75rem ,2.5284090909rem + 4.5454545455vw ,7.5rem)) {
    .section-margin-bottom {
      margin-bottom: clamp(3.75rem ,2.5284090909rem + 4.5454545455vw ,7.5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.75rem ,2.5284090909rem + 4.5454545455vw ,7.5rem)) {
    .section-margin-bottom {
      margin-bottom: calc(3.75rem + 3.75 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.6278409091rem + 0.4545454545vw ,1.125rem)) {
    .subheading {
      font-size: clamp(.75rem ,.6278409091rem + .4545454545vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.6278409091rem + 0.4545454545vw ,1.125rem)) {
    .subheading {
      font-size: calc(.75rem + .375 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.5871212121rem + 0.6060606061vw ,1.25rem)) {
    .section-subtext {
      font-size: clamp(.75rem ,.5871212121rem + .6060606061vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.5871212121rem + 0.6060606061vw ,1.25rem)) {
    .section-subtext {
      font-size: calc(.75rem + .5 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.8428030303rem + 1.5151515152vw ,2.5rem)) {
    .header {
      padding-top: clamp(1.25rem ,.8428030303rem + 1.5151515152vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8428030303rem + 1.5151515152vw ,2.5rem)) {
    .header {
      padding-top: calc(1.25rem + 1.25 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (padding-bottom:clamp(2rem ,1.4299242424rem + 2.1212121212vw ,3.75rem)) {
    .header {
      padding-bottom: clamp(2rem ,1.4299242424rem + 2.1212121212vw ,3.75rem)
    }
  }
  @supports not (padding-bottom:clamp(2rem ,1.4299242424rem + 2.1212121212vw ,3.75rem)) {
    .header {
      padding-bottom: calc(2rem + 1.75 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (padding-top:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .footer__top {
      padding-top: clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)
    }
  }
  @supports not (padding-top:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .footer__top {
      padding-top: calc(2rem + 2 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (padding-bottom:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .footer__top {
      padding-bottom: clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)
    }
  }
  @supports not (padding-bottom:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .footer__top {
      padding-bottom: calc(2rem + 2 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (padding-bottom:clamp(1rem ,0.6742424242rem + 1.2121212121vw ,2rem)) {
    .footer__bottom {
      padding-bottom: clamp(1rem ,.6742424242rem + 1.2121212121vw ,2rem)
    }
  }
  @supports not (padding-bottom:clamp(1rem ,0.6742424242rem + 1.2121212121vw ,2rem)) {
    .footer__bottom {
      padding-bottom: calc(1rem + 1 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (padding-top:clamp(1rem ,0.6742424242rem + 1.2121212121vw ,2rem)) {
    .footer__bottom {
      padding-top: clamp(1rem ,.6742424242rem + 1.2121212121vw ,2rem)
    }
  }
  @supports not (padding-top:clamp(1rem ,0.6742424242rem + 1.2121212121vw ,2rem)) {
    .footer__bottom {
      padding-top: calc(1rem + 1 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.625rem ,0.4621212121rem + 0.6060606061vw ,1.125rem)) {
    .footer__bottom .bottom-footer__copyright {
      font-size: clamp(.625rem ,.4621212121rem + .6060606061vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.625rem ,0.4621212121rem + 0.6060606061vw ,1.125rem)) {
    .footer__bottom .bottom-footer__copyright {
      font-size: calc(.625rem + .5 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (gap:clamp(1.5rem ,0.7670454545rem + 2.7272727273vw ,3.75rem)) {
    .footer__menu ul {
      gap: clamp(1.5rem ,.7670454545rem + 2.7272727273vw ,3.75rem)
    }
  }
  @supports not (gap:clamp(1.5rem ,0.7670454545rem + 2.7272727273vw ,3.75rem)) {
    .footer__menu ul {
      gap: calc(1.5rem + 2.25 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.625rem ,0.4621212121rem + 0.6060606061vw ,1.125rem)) {
    .footer__menu ul a {
      font-size: clamp(.625rem ,.4621212121rem + .6060606061vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.625rem ,0.4621212121rem + 0.6060606061vw ,1.125rem)) {
    .footer__menu ul a {
      font-size: calc(.625rem + .5 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (margin-bottom:clamp(2rem ,1.6742424242rem + 1.2121212121vw ,3rem)) {
    .hero__header {
      margin-bottom: clamp(2rem ,1.6742424242rem + 1.2121212121vw ,3rem)
    }
  }
  @supports not (margin-bottom:clamp(2rem ,1.6742424242rem + 1.2121212121vw ,3rem)) {
    .hero__header {
      margin-bottom: calc(2rem + 1 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (margin-bottom:clamp(1.125rem ,0.2698863636rem + 3.1818181818vw ,3.75rem)) {
    .hero__header span {
      margin-bottom: clamp(1.125rem ,.2698863636rem + 3.1818181818vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.125rem ,0.2698863636rem + 3.1818181818vw ,3.75rem)) {
    .hero__header span {
      margin-bottom: calc(1.125rem + 2.625 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (height:clamp(9.375rem ,3.6742424242rem + 21.2121212121vw ,26.875rem)) {
    .hero__image {
      height: clamp(9.375rem ,3.6742424242rem + 21.2121212121vw ,26.875rem)
    }
  }
  @supports not (height:clamp(9.375rem ,3.6742424242rem + 21.2121212121vw ,26.875rem)) {
    .hero__image {
      height: calc(9.375rem + 17.5 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (margin-bottom:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .services__header {
      margin-bottom: clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)
    }
  }
  @supports not (margin-bottom:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .services__header {
      margin-bottom: calc(2rem + 2 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (margin-bottom:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .about__header {
      margin-bottom: clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)
    }
  }
  @supports not (margin-bottom:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .about__header {
      margin-bottom: calc(2rem + 2 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (height:clamp(6.5625rem ,-0.5634469697rem + 26.5151515152vw ,28.4375rem)) {
    .about__image img {
      height: clamp(6.5625rem ,-.5634469697rem + 26.5151515152vw ,28.4375rem)
    }
  }
  @supports not (height:clamp(6.5625rem ,-0.5634469697rem + 26.5151515152vw ,28.4375rem)) {
    .about__image img {
      height: calc(6.5625rem + 21.875 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (padding-bottom:clamp(0.5rem ,0.0928030303rem + 1.5151515152vw ,1.75rem)) {
    .about__info .info-block__column .column__header {
      padding-bottom: clamp(.5rem ,.0928030303rem + 1.5151515152vw ,1.75rem)
    }
  }
  @supports not (padding-bottom:clamp(0.5rem ,0.0928030303rem + 1.5151515152vw ,1.75rem)) {
    .about__info .info-block__column .column__header {
      padding-bottom: calc(.5rem + 1.25 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (margin-bottom:clamp(0.5rem ,0.0928030303rem + 1.5151515152vw ,1.75rem)) {
    .about__info .info-block__column .column__header {
      margin-bottom: clamp(.5rem ,.0928030303rem + 1.5151515152vw ,1.75rem)
    }
  }
  @supports not (margin-bottom:clamp(0.5rem ,0.0928030303rem + 1.5151515152vw ,1.75rem)) {
    .about__info .info-block__column .column__header {
      margin-bottom: calc(.5rem + 1.25 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(1rem ,0.1041666667rem + 3.3333333333vw ,3.75rem)) {
    .about__info .info-block__column .column__header span {
      font-size: clamp(1rem ,.1041666667rem + 3.3333333333vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.1041666667rem + 3.3333333333vw ,3.75rem)) {
    .about__info .info-block__column .column__header span {
      font-size: calc(1rem + 2.75 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.6685606061rem + 0.303030303vw ,1rem)) {
    .about__info .info-block__column .column__header p {
      font-size: clamp(.75rem ,.6685606061rem + .303030303vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.6685606061rem + 0.303030303vw ,1rem)) {
    .about__info .info-block__column .column__header p {
      font-size: calc(.75rem + .25 * (100vw - 26.875rem)/ 82.5)
    }
  }
  @supports (margin-bottom:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .contact__header {
      margin-bottom: clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)
    }
  }
  @supports not (margin-bottom:clamp(2rem ,1.3484848485rem + 2.4242424242vw ,4rem)) {
    .contact__header {
      margin-bottom: calc(2rem + 2 * (100vw - 26.875rem)/ 82.5)
    }
  }
}
@media (any-hover:hover) {
  .language-block__list ul li a:hover {
    background-color: rgba(40,72,154,.25)
  }
  .header__menu ul li a:hover {
    color: var(--primary)
  }
  .header__menu ul li a:hover::before {
    width: 100%
  }
}